html, body {
    font-family: "Sarabun", serif;
	margin: 0;
	padding: 0;
    line-height: 1.5;
    
    background-color: #bbded6;

	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

* :not(input) {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	border: 0;
	overflow: visible;
    border-top: 2px dashed #BEBEBE;
    margin: 8px 0; 
}

input:focus, button:focus {
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1 {
    text-align: center;
}

footer {
    padding: 12px;
    text-align: center;
}

main {
    margin: 0 auto;
    margin-top: 12px;
    max-width: 1000px;
    border-radius: 8px;
    background: #f9f9f9;
    
    display: none;
    padding: 16px;
    border: 2px solid #6b7b8e;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
}

article {
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

/* inside parts */
#user-icon {
    font-size: large;
    cursor: pointer;
}

#main-fiscal-panel {
    margin-top: 12px;
}

.subroot {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}

.subroot > div:first-child {
    padding-top: 12px;
    padding-left: 12px;
}

.rootcost {
    transition: 0.25s;
}

.add-fiscal-list {
    color: white;
    border: 1px solid #6b7b8e;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#list-editors > input {
    border-radius: 4px;
    border: 1px solid #6b7b8e;
    padding: 6px;
    width: 98.5%;
    transition: 0.3s;
}

#main-fiscal-panel > .root {
    background-color: #f6f6f6;
    border: 1px solid #6b7b8e;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 12px;
    transition: 0.2s;
}

#main-fiscal-panel > .root:hover {
    box-shadow: 0 0 5px -2px black;
}

#fiscal-expenditure article,
#fiscal-expenditure .add-fiscal-list {
    color: #9e0000;
}

#fiscal-income article,
#fiscal-income .add-fiscal-list {
    color: #097138;
}

#fiscal-lending article,
#fiscal-lending .add-fiscal-list  {
    color: #ffc70f;
}

#fiscal-debt article,
#fiscal-debt .add-fiscal-list {
    color: #5D6D7E;
}

#fiscal-balance article {
    color: #85C1E9;
}

.total {
    float: right;
}

.cost > input {
    padding: 0;
    font-size: 16px;
    text-align: right;
    background: transparent;
    border: 0 transparent;
    width: 120px;
}

/* cost detail list */
.root-list {
    padding: 0 6px;
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: auto 160px;
}

.root-list:hover {
    cursor: pointer;
    background: lightgrey;
}

.create-list-grid {
    margin-top: 8px;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.create-list-grid > input {
    background-color: transparent;
    font-size: 16px;
    padding-left: 12px;
    border: 1px solid #5D6D7E;
    border-radius: 4px;
}

#main_statistics li {
    font-size: xx-large;
    padding: 40px;
    text-align: center;
}

#add-detail {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

/* various grids */
.quater-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

/* decorative class */
.border-list > aside {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #5D6D7E;

    display: flex;
    justify-content: space-between;
}

/* Login part */
#form {
    display: flex;
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

#form > div {
    max-width: 600px;
    padding: 12px;
    width: 100%;
}

#form > div > section {
    border: 2px solid #6b7b8e;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);

    border-radius: 16px;
    padding: 6px;
    background-color: #f9f9f9;
    text-align: center;
}

.head-text {
    font-size: xx-large;
    font-weight: bold;
    padding: 8px 0;
}

/* this month stats */
#this-month-expenditure-detail {
    padding-left: 8px;
    border-left: 3px solid #9e0000;
}

#this-month-income-detail {
    padding-left: 8px;
    border-left: 3px solid #097138;
}

#this-month-lists > div > li:first-child,
#this-month-detail div > li:first-child {
    display: inline-block;
}

#this-month-lists > div > li:last-child,
#this-month-detail div > li:last-child {
    text-align: right;
    float: right;
}

/* form part */
#signin-form > li:not(.head-text) {
    font-size: large;
    font-weight: bold;
}

#form-frame li:not(.head-text) {
    padding:6px;
}

#form-frame > section input {
    width: 90%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #6b7b8e;
    border-radius: 8px;
    background-color: transparent;
    transition: 0.3s;
}

.input-container {
    width: 100%;
}

.comfirm-button {
    margin: 0 auto;
    width: 90%;
    padding: 12px;
    border: 1px solid #85C1E9;
    border-radius: 8px;
    color: #85C1E9;
    cursor: pointer;
    margin-bottom: 6px;
    transition: 0.3s;
}

.comfirm-button:hover {
    background: #85C1E9;
    color: white;
}

.form-options {
    display: flex;
    justify-content: space-between;
}

.form-options {
    margin: 0 auto;
    width: 90%;
    font-size: small;
    padding: 6px 0;
}

#form-frame > section span {
    cursor: pointer;
}