:root {
    /* built-in colors */
    --strong-black-color: rgba(0,0,0,0.8);
    --medium-black-color: rgba(0,0,0,0.5);
    --light-black-color: rgba(0,0,0,0.2);

    /* developers defined settings */
    --error-color: #EC7063;
    --html-bg-color: #29323C;
    --body-theme-color: #f9f9f9;
    --std-border-color: #6b7b8e;
    --selected-color: #85C1E9;
    --root-color: #f6f6f6;
    --custom-exp-color: #d45079;
    --custom-inc-color: #4baea0;
    --custom-len-color: #ffc70f;
    --custom-deb-color: #5D6D7E;
    --std-font-family: "Cabin", "Sarabun", serif;
}

html, body {
    font-family: var(--std-font-family);
    background-color: var(--html-bg-color);
	margin: 0;
	padding: 0;
    line-height: 1.5;

    overflow-x: hidden;

	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

[hidden] { display: none; }

*:not(input) {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

a {
    text-decoration: none;
    color: black;
}

li { list-style-type: none; }

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	border: 0;
	overflow: visible;
    border-top: 2px dashed #BEBEBE;
    margin: 8px 0; 
}

input:focus, button:focus { outline: none; }

input::-webkit-inner-spin-button { -webkit-appearance: none; }

h1 { text-align: center; }

footer {
    padding: 12px;
    text-align: center;
}

main {
    margin: 0 auto;
    margin-top: 12px;
    max-width: 1000px;
    border-radius: 8px;
    background-color: var(--body-theme-color);
    
    padding: 10px;
    border: 1px solid var(--std-border-color);;
    box-shadow: 0 0 6px 0px var(--light-black-color);
}

i { cursor: pointer; }

/* inside parts */
#user-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#user-panel > aside:last-child {
    text-align: right;
}

#user-panel > aside:last-child > i {
    cursor: pointer;
    transition: 0.2s;
}

.selected {
    color: var(--selected-color);
}

#today-date { text-align: center; }

/* ### */

#main-fiscal-panel {
    margin-top: 12px;
}

.root {
    background-color: var(--root-color);
    border: 1px solid var(--std-border-color);
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.root:not(:last-child):hover {
    box-shadow: 0 0 5px -2px black;
}

.root > nav {
    display: grid;
    grid-template-columns: 50% 50%;

    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.root > nav > aside:last-child {
    text-align: right;
}

.subroot {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}

.detail-list {
    padding-top: 12px;
    padding-left: 12px;
}

.rootcost {
    transition: 0.25s;
}

.list-adding-btn {
    color: white;
    border: 1px solid var(--std-border-color);;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.list-adding-btn::before {
    content: "ADD";
}

#exp-root aside,
#exp-root .list-adding-btn {
    color: var(--custom-exp-color);
}

#inc-root aside,
#inc-root .list-adding-btn {
    color: var(--custom-inc-color);
}

#len-root aside,
#len-root .list-adding-btn  {
    color: var(--custom-len-color);
}

#deb-root aside,
#deb-root .list-adding-btn {
    color: var(--custom-deb-color);
}

#bal-root {
    display: grid;
    grid-template-columns: 50% 50%;
}

#bal-root > aside {
    color: var(--selected-color);
    font-weight: bold;
    font-size: x-large;
}

#bal-root > aside:last-child {
    text-align: right;
}

.cost > input {
    padding: 0;
    font-size: 16px;
    text-align: right;
    background: transparent;
    border: 0 transparent;
    width: 120px;
}

/* cost detail list */
.root-list {
    padding: 0 6px;
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: auto 160px;
}

.root-list:hover {
    cursor: pointer;
    background: lightgrey;
}

.create-list-grid {
    margin-top: 8px;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.create-list-grid > input {
    font-family: var(--std-font-family);
    background-color: transparent;
    font-size: 16px;
    padding: 6px 8px;
    border: 1px solid #5D6D7E;
    border-radius: 4px;
}

#main_statistics > li {
    font-size: xx-large;
    padding: 40px;
    text-align: center;
}

/* statistics view */
.section-view-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);

    border: 1px solid #5D6D7E;
    border-radius: 4px;
    overflow: hidden;
}

.section-view-grid > aside:not(:last-child) {
    border-right: 1px solid #5D6D7E;
}

.section-view-grid > aside {
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.viewed {
    background-color: var(--selected-color);
    color: white;
}

#view-mode {
    margin-bottom: 20px;
}

/* various grids */
.summarized-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

/* decorative class */
.border-list > aside {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #5D6D7E;

    display: flex;
    justify-content: space-between;
}

/* Login part */
.form-container:not([hidden]) {
    display: flex;
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

form {
    max-width: 600px;
    padding: 6px;
    width: 100%;
}

form > section {
    border: 2px solid var(--std-border-color);;
    box-shadow: 0 0 6px 0px var(--light-black-color);

    border-radius: 16px;
    padding: 16px;
    background-color: var(--body-theme-color);
}

.head-text {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

form label {
    display: block;
    margin-top: 12px;
}

form > section input {
    width: calc(100% - 16px);
    font-size: 16px;
    padding: 8px;
    border: 1px solid var(--std-border-color);
    font-family: var(--std-font-family);
    border-radius: 8px;
    background-color: transparent;
    transition: 0.3s;
}

form > section input:disabled {
    opacity: 0.6;
}

.input-error {
    box-shadow: 0 0 6px 0px var(--error-color);
    border: 1px solid var(--error-color);
}

.comfirm-button {
    text-align: center;
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid var(--selected-color);
    border-radius: 8px;
    color: var(--selected-color);
    cursor: pointer;
    margin-bottom: 6px;
    transition: 0.3s;
}

.comfirm-button:hover {
    border: 1px solid var(--std-border-color);;
    background: var(--selected-color);
    color: white;
}

.form-options {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: calc(100% - 16px);
    font-size: small;
    padding: 6px 0;
}

.form-options > span {
    cursor: pointer;
}

/* this month stats */
#stm-expenditure-detail,
#by-time-expenditure,
#by-average-expenditure {
    padding-left: 8px;
    border-left: 3px solid var(--custom-exp-color);
}

#stm-income-detail,
#by-time-income,
#by-average-income {
    padding-left: 8px;
    border-left: 3px solid var(--custom-inc-color);
}

#stm-lists > div > li:first-child,
#stm-detail div > li:first-child {
    display: inline-block;
}

#stm-lists > div > li:last-child,
#stm-detail div > li:last-child {
    text-align: right;
    float: right;
}

/* ### */
#compare-option {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 25% 32.5% 10% 32.5%;

    border: 1px solid #5D6D7E;
    border-radius: 4px;
}

#compare-option > aside:not(:last-child) {border-right: 1px solid #5D6D7E;}
#compare-option > aside:nth-child(3) {text-align: center;}
#compare-option > aside:nth-child(even) {cursor: pointer;}
#compare-option > aside:nth-child(odd) {color:white;background-color:#5D6D7E;}
#compare-option > aside {padding: 0 8px;}

.minor-header {
    margin: 8px 0;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.summarized-grid > aside > div {
    display: grid;
    align-items: center;
    grid-template-columns: 35% 45% 20%;
}

.summarized-grid > aside > div:first-child > aside:first-child {
    text-decoration: underline
}

.summarized-grid > aside > div > aside:nth-child(2) {
    height: 12px;
    border: 2px solid #5D6D7E;
    border-radius: 4px;
}

.summarized-grid > aside > div > aside:last-child {
    text-align: right;
}